#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* TODO: It's hack, to prevent controls duplication. Should take a look deeper into this issue
.shaka-video-container:not([shaka-controls=true]) .shaka-controls-container {
  display: flex; 
}

/**********origin shaka-player styles************/

.player-container {
  max-height: 75vh;
  min-height: 64px;
  background-color: black;
}

.shaka-video-container .material-icons-round {
  font-size: 1.25rem;
}

.shaka-current-time {
  font-size: 1rem;
  
}

.shaka-video-container:-webkit-full-screen {
  max-height: none !important;
}

/* captions style */
.shaka-text-wrapper * {
  text-align: left !important;
}

.shaka-text-wrapper > span > span {
  background-color: transparent !important;
}

/* apply to all spans that don't include multiple other spans to avoid the style being applied to the text container too when the subtitles are two lines */
.shaka-text-wrapper > span > span *:first-child:last-child {
  background-color: rgba(0, 0, 0, 0.6) !important;
  padding: 0.09em 0;
}
/* position button above player overlay */
.skip-segment-button {
  
  z-index: 1000;

  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 0;

  background-color: rgba(0, 0, 0, 0.5);
  border: 2px rgba(255, 255, 255, 0.75) solid;
  border-right: 0;
  border-radius: 0.75em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.5em;

 
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  line-height: 1.5em;
}

.skip-segment-button .material-icons-round {
  font-size: 1.6em !important;
  line-height: inherit !important;
}

