
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zhtzte');
  src:  url('fonts/icomoon.eot?zhtzte#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zhtzte') format('truetype'),
    url('fonts/icomoon.woff?zhtzte') format('woff'),
    url('fonts/icomoon.svg?zhtzte#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}